
@{
    ViewData["Title"] = "StopAjax";
}

<h1>StopAjax</h1>
<button id="buttonStart">Ajax 開始</button>
<button id="buttonStop">Ajax 停止</button>
<img src="~/images/loading.gif" id="img1" style="display:none" />
<div id="div1"></div>

@section Scripts{
    <script>
     const btnStart = document.querySelector('#buttonStart');
     const btnStop = document.querySelector('#buttonStop');
     const myDiv = document.querySelector('#div1');
     const imgLoading = document.querySelector('#img1');


        btnStart.addEventListener('click',async ()=>{
               imgLoading.style.display = 'inline';
               const url = '@Url.Content("~/api/index1")?userName=Tom';
               //console.log(url);
               const response = await fetch(url);
               const data = await response.text();
               myDiv.textContent = data;
               imgLoading.style.display = 'none';

             
        })


    </script>
}

